# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PeterSmrecek\Disk Google (xsmrecek@stuba.sk)\3 UI\5 Zadania\UI Zadanie 4\Zadanie4-Program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
